
        .container-element.center {
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
        }
        
        .html-element.schbx {
            position: absolute;
            top: 25%;
            left: 0;
            right: 0;
            margin: auto;
        }
        
        .html-element.locat {
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            box-shadow: 0px -0px 10px 0px rgba(0, 0, 0, 0.8);
        }
        
        .container-element.banner_1 {
            position: absolute;
            top: 5px;
            left: 0;
            right: 0;
            margin: auto;
        }
        
        .container-element.street_select_big {
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
        }
        
        .text-element.desc {
            position: absolute;
            top: 110px;
            left: 0;
            right: 0;
            margin: auto;
        }
        
        .container-element.main_switch_group {
            position: absolute;
            top: 120px;
            left: 0;
            right: 0;
            margin: auto;
        }
        
        .container-element.sharebox {
            position: absolute;
            top: 650px;
            left: 0;
            right: 0;
            margin: auto;
        }
        
        .webdesigntuts-workshop {
            height: 100%;
            position: absolute;
            text-align: center;
            width: 100%;
        }
        
        .webdesigntuts-workshop:before {
            background: #444;
            background: linear-gradient(left, #151515, #444, #151515);
            top: 192px;
        }
        
        .webdesigntuts-workshop:after {
            background: #000;
            background: linear-gradient(left, #151515, #000, #151515);
            top: 191px;
        }
        
        .webdesigntuts-workshop form {
            background: #111;
            background: linear-gradient(#1b1b1b, #111);
            border: 1px solid #000;
            border-radius: 5px;
            box-shadow: inset 0 0 0 1px #272727;
            display: inline-block;
            font-size: 0px;
            margin: 90px auto 0;
            padding: 20px;
            position: relative;
            z-index: 1;
        }
        
        .webdesigntuts-workshop input {
            background: #222;
            background: linear-gradient(#333, #222);
            border: 1px solid #444;
            border-radius: 5px 0 0 5px;
            box-shadow: 0 2px 0 #000;
            color: #888;
            display: block;
            float: left;
            font-family: 'Cabin', helvetica, arial, sans-serif;
            font-size: 13px;
            font-weight: 400;
            height: 40px;
            margin: 0;
            padding: 0 10px;
            text-shadow: 0 -1px 0 #000;
            width: 200px;
        }
        
        .ie .webdesigntuts-workshop input {
            line-height: 40px;
        }
        
        .webdesigntuts-workshop input::-webkit-input-placeholder {
            color: #888;
        }
        
        .webdesigntuts-workshop input:-moz-placeholder {
            color: #888;
        }
        
        .webdesigntuts-workshop input:focus {
            animation: glow 800ms ease-out infinite alternate;
            background: #222922;
            background: linear-gradient(#333933, #222922);
            border-color: #393;
            box-shadow: 0 0 5px rgba(0, 255, 0, .2), inset 0 0 5px rgba(0, 255, 0, .1), 0 2px 0 #000;
            color: #efe;
            outline: none;
        }
        
        .webdesigntuts-workshop input:focus::-webkit-input-placeholder {
            color: #efe;
        }
        
        .webdesigntuts-workshop input:focus:-moz-placeholder {
            color: #efe;
        }
        
        .webdesigntuts-workshop button {
            background: #222;
            background: linear-gradient(#333, #222);
            box-sizing: border-box;
            border: 1px solid #444;
            border-left-color: #000;
            border-radius: 0 5px 5px 0;
            box-shadow: 0 2px 0 #000;
            color: #fff;
            display: block;
            float: left;
            font-family: 'Cabin', helvetica, arial, sans-serif;
            font-size: 13px;
            font-weight: 400;
            height: 42px;
            line-height: 40px;
            margin: 0;
            padding: 0;
            position: relative;
            text-shadow: 0 -1px 0 #000;
            width: 80px;
        }
        
        .webdesigntuts-workshop button:hover,
        .webdesigntuts-workshop button:focus {
            background: #292929;
            background: linear-gradient(#393939, #292929);
            color: #5f5;
            outline: none;
        }
        
        .webdesigntuts-workshop button:active {
            background: #292929;
            background: linear-gradient(#393939, #292929);
            box-shadow: 0 1px 0 #000, inset 1px 0 1px #222;
            top: 1px;
        }
        
        @keyframes glow {
            0% {
                border-color: #393;
                box-shadow: 0 0 5px rgba(0, 255, 0, .2), inset 0 0 5px rgba(0, 255, 0, .1), 0 2px 0 #000;
            }
            100% {
                border-color: #6f6;
                box-shadow: 0 0 20px rgba(0, 255, 0, .6), inset 0 0 10px rgba(0, 255, 0, .4), 0 2px 0 #000;
            }
        }
        
        body {
            /*height: 10000px;*/
            font-family: "Lato";
            background-color: #2980b9;
            padding: 20px 30px;
            margin: 0px;
        }
        
        h1,
        h2,
        h3,
        h4 {
            padding: 0px;
            margin: 0px;
        }
        
        .caption-style-4 {
            list-style-type: none;
            margin: 0px;
            padding: 0px;
        }
        
        .caption-style-4 li {
            float: left;
            padding: 0px;
            position: relative;
            overflow: hidden;
        }
        
        .caption-style-4 li:hover .caption {
            opacity: 1;
        }
        
        .caption-style-4 img {
            filter: url('data:image/svg+xml;utf8,<svg xmlns=\'//www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale');
            /* Firefox 3.5+ */
            filter: gray;
            /* IE6-9 */
            -webkit-filter: grayscale(25%);
            /* Chrome 19+ & Safari 6+ */
        }
        
        .caption-style-4 li:hover img {
            opacity: 1;
            transform: scale(1.15, 1.15);
            -webkit-transform: scale(1.15, 1.15);
            -moz-transform: scale(1.15, 1.15);
            -ms-transform: scale(1.15, 1.15);
            -o-transform: scale(1.15, 1.15);
            filter: none;
            -webkit-filter: grayscale(0%);
        }
        
        .caption-style-4 img {
            margin: 0px;
            padding: 0px;
            float: left;
            z-index: 4;
        }
        
        .caption-style-4 .caption {
            cursor: pointer;
            position: absolute;
            opacity: 0;
            -webkit-transition: all 0.45s ease-in-out;
            -moz-transition: all 0.45s ease-in-out;
            -o-transition: all 0.45s ease-in-out;
            -ms-transition: all 0.45s ease-in-out;
            transition: all 0.45s ease-in-out;
        }
        
        .caption-style-4 img {
            -webkit-transition: all 0.25s ease-in-out;
            -moz-transition: all 0.25s ease-in-out;
            -o-transition: all 0.25s ease-in-out;
            -ms-transition: all 0.25s ease-in-out;
            transition: all 0.25s ease-in-out;
        }
        
        .caption-style-4 .blur {
            background-color: rgba(0, 0, 0, 0.65);
            height: 200px;
            width: 270px;
            z-index: 5;
            position: absolute;
        }
        
        .caption-style-4 .caption-text h1 {
            text-transform: uppercase;
            font-size: 24px;
        }
        
        .caption-style-4 .caption-text {
            z-index: 10;
            color: #fff;
            position: absolute;
            width: 270px;
            height: 200px;
            text-align: center;
            top: 85px;
        }
    
        .body-initial {
            background-color: rgba(255, 255, 255, 1);
            background-image: url('../assets/background.jpg');
            background-repeat: repeat;
            background-attachment: fixed;
            background-size: contain;
            background-position: top left;
        }
        
        .silex-id-1511912055642-11 {
            background-color: transparent;
            min-height: 190px;
            width: 960px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1511912055642-11 {
                width: 1080px;
                top: 0px;
                left: 37px;
                background-color: transparent;
                min-height: 120px;
            }
        }
        
        .silex-id-1512222513371-1 {
            width: 960px;
            min-height: 106.66px;
        }
        
        .silex-id-1512257656952-8 {
            width: 960px;
            min-height: 91px;
        }
        
        .silex-id-1474394621033-3 {
            top: 140px;
            left: 5px;
        }
        
        .silex-id-1474394621032-2 {
            top: 140px;
            left: 5px;
            min-height: 524px;
            width: -2000px;
        }
        
        .silex-id-1511478863608-0 {
            width: 904px;
            background-color: transparent;
            min-height: 484px;
            top: 23px;
            left: 232px;
        }
        
        .silex-id-1511393969030-3 {
            width: 124px;
            top: 0px;
            right: 15px;
            min-height: 324px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1511393969030-3 {
                width: 124px;
                top: 50px;
                right: 15px;
                min-height: 324px;
            }
        }
        
        .silex-id-1511481798055-4 {
            width: 75px;
            top: 343px;
            left: 790px;
            background-color: rgb(255, 255, 255);
            min-height: 18px;
        }
        
        .silex-id-1511528080779-0 {
            width: 75px;
            top: 380px;
            left: 790px;
            background-color: rgb(255, 255, 255);
            min-height: 18px;
        }
        
        .silex-id-1511618175217-1 {
            width: 701px;
            left: 0px;
            top: 0px;
            min-height: 459px;
        }
        
        .silex-id-1511394022343-4 {
            width: 124px;
            top: 0px;
            right: 15px;
            min-height: 324px;
        }
        
        .silex-id-1511393704549-0 {
            width: 701px;
            left: 0px;
            top: 0px;
            min-height: 459px;
        }
        
        .silex-id-1511907743885-0 {
            width: 75px;
            top: 417px;
            left: 790px;
            background-color: rgb(255, 255, 255);
            min-height: 25px;
        }
        
        .silex-id-1512224819062-0 {
            width: 701px;
            top: 0px;
            left: 0px;
            min-height: 459px;
        }
        
        .silex-id-1512225781353-0 {
            width: 701px;
            top: 0px;
            left: 0px;
            min-height: 459px;
        }
        
        .silex-id-1512226114350-2 {
            width: 124px;
            top: 0px;
            right: 15px;
            min-height: 324px;
        }
        
        .silex-id-1512226160398-3 {
            width: 124px;
            top: 0px;
            right: 15px;
            min-height: 324px;
        }
        
        .silex-id-1512253074890-4 {
            width: 701px;
            top: 0px;
            left: 0px;
            min-height: 459px;
        }
        
        .silex-id-1512253374003-5 {
            width: 124px;
            top: 0px;
            right: 15px;
            min-height: 324px;
        }
        
        .silex-id-1512253502253-6 {
            width: 701px;
            top: 0px;
            left: 0px;
            min-height: 459px;
        }
        
        .silex-id-1512253833520-7 {
            width: 124px;
            top: 0px;
            right: 15px;
            min-height: 324px;
        }
        
        .silex-id-1512296197282-1 {
            width: 701px;
            top: 0px;
            left: 0px;
            min-height: 459px;
        }
        
        .silex-id-1512296484924-2 {
            width: 701px;
            top: 0px;
            left: 0px;
            min-height: 459px;
        }
        
        .silex-id-1512296674385-3 {
            width: 124px;
            top: 0px;
            right: 15px;
            min-height: 324px;
        }
        
        .silex-id-1512296738353-4 {
            width: 124px;
            top: 0px;
            right: 15px;
            min-height: 324px;
        }
        
        .silex-id-1512345562974-1 {
            width: 701px;
            top: 0px;
            left: 0px;
            min-height: 459px;
        }
        
        .silex-id-1512347476588-2 {
            width: 701px;
            top: 0px;
            left: 0px;
            min-height: 459px;
        }
        
        .silex-id-1512347638035-3 {
            width: 124px;
            top: 0px;
            right: 15px;
            min-height: 324px;
        }
        
        .silex-id-1512347689954-5 {
            width: 124px;
            top: 0px;
            right: 15px;
            min-height: 324px;
        }
        
        .silex-id-1512475225054-0 {
            width: 701px;
            top: 0px;
            left: 0px;
            min-height: 459px;
        }
        
        .silex-id-1512475257254-1 {
            width: 701px;
            top: 0px;
            left: 0px;
            min-height: 459px;
        }
        
        .silex-id-1511639546368-0 {
            width: 701px;
            top: 0px;
            left: 0px;
            opacity: 0.3;
            height: 459px;
            background-color: transparent;
        }
        
        .silex-id-1511637674426-4 {
            width: 117px;
            top: 8px;
            left: 533px;
            background-color: transparent;
            min-height: 134px;
        }
        
        .silex-id-1511906763601-0 {
            width: 139px;
            bottom: 15px;
            left: 0px;
            background-color: transparent;
            min-height: 166px;
        }
        
        .silex-id-1511907061619-1 {
            width: 150px;
            bottom: 0px;
            left: 600px;
            background-color: transparent;
            min-height: 150px;
        }
        
        .silex-id-1512475435632-2 {
            width: 124px;
            top: 0px;
            right: 15px;
            min-height: 324px;
        }
        
        .silex-id-1512475507992-3 {
            width: 124px;
            top: 0px;
            right: 15px;
            min-height: 324px;
        }
        
        .silex-id-1511907299374-2 {
            width: 167px;
            top: 0px;
            left: 10px;
            background-color: transparent;
            min-height: 181px;
        }
        
        .silex-id-1511957606256-1 {
            width: 300px;
            top: 668px;
            background-color: transparent;
            min-height: 100px;
        }
        
        .silex-id-1511957565176-0 {
            width: 289px;
            top: 0px;
            left: 5.5px;
            min-height: 105px;
            background-color: transparent;
        }
        
        .silex-id-1512216731383-0 {
            top: 200px;
            background-color: transparent;
            min-height: 450px;
        }
        
        .silex-id-1512218629384-3 {
            width: 1080px;
            top: 0px;
            background-color: transparent;
            min-height: 200px;
        }
        
        .silex-id-1512345195209-0 {
            width: 1080px;
            top: 200px;
            background-color: transparent;
            min-height: 200px;
        }
    