
        .pht1 {
            display: block;
            /*for the img inside your div */
            margin: 0 auto
        }
    
        .body-initial {
            background-color: rgba(42, 239, 211, 1);
        }
        
        .silex-id-1478366444112-1 {
            top: 5px;
            left: 5px;
            background-color: transparent;
        }
        
        .silex-id-1478366444112-0 {
            min-height: 54px;
            background-color: transparent;
            width: 1200px;
        }
        
        .silex-id-1474394621033-3 {
            top: 140px;
            left: 5px;
            min-width: 1200px;
        }
        
        .silex-id-1474394621032-2 {
            min-height: 586px;
            background-color: transparent;
            width: 1200px;
            top: 15px;
            left: 100px;
        }
        
        .silex-id-1511393154283-0 {
            width: 730px;
            min-height: 478px;
            top: 25px;
            left: 17px;
        }
        
        .silex-id-1511393704549-0 {
            width: 730px;
            min-height: 487px;
            top: 20px;
            left: 15px;
        }
        
        .silex-id-1511393969030-3 {
            width: 124px;
            top: 92px;
            left: 811px;
            min-height: 324px;
        }
        
        .silex-id-1511394022343-4 {
            width: 124px;
            top: 92px;
            left: 811px;
            min-height: 324px;
        }
        
        .silex-id-1478366450713-3 {
            top: 811px;
            left: 5px;
            background-color: transparent;
        }
        
        .silex-id-1478366450713-2 {
            min-height: 287px;
            background-color: transparent;
            width: 1200px;
        }
    